.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #89add2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.question-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 50%;
  margin: 20px auto;
  align-items: center;
  border-radius: 5px;
  background-color: #f6f8f9;
}

.question-btn {
  background-color: #ffffff;
  color: #747ba4;
  border: 2px solid #747ba4;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.question-btn:hover {
  background-color: #89add2;
  color: #f0f3e2;
}

.question-text {
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #d1c1e2;
}

.question-selected {
  display: inline-block;
}

.response-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 50%;
  margin: auto;
  align-items: start;
  border-radius: 5px;
  background-color: #f6f8f9;
}

.response-text {
  font-size: 24px;
  font-weight: bold;
  /* color: #747ba4; */
  color: #d1c1e2;
}

.response-text > span {
  /* color: #d1c1e2; */
  color: #747ba4;

}