.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  /* background-color: #fff6f0; */
  background-color: #EDF1F5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #0099cc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.question-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 50%;
  margin: 20px auto;
  align-items: center;
  border-radius: 5px;
  /* background-color: #fff6f0; */
  background-color: #EDF1F5;
}

.question-btn {
  background-color: #fff6f0;
  color: #0099cc;
  border: 2px solid #0099cc;
  font-family: 'Shantell Sans', cursive;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.question-btn:hover {
  background-color: #f5a524;
  border: 2px solid #ff8052;
  color: #4E5460;
}

.question-text {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #4E5460;
}

.response-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  width: 50%;
  margin: auto;
  align-items: center;
  border-radius: 5px;
  background-color: #EDF1F5;
}

.response-text {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  color: #4E5460;
}

.response-text > span {
  margin-left: 10px;
  color: #f5a524;
  font-weight: 700;

}

.response-desciption {
  display: flex;
  color: #4E5460;
  font-weight: 500;
}