.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #68694f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.question-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 30%;
  margin: 20px auto;
  align-items: center;
  border-radius: 5px;
  background-color: #ebebe0;
}

.question-btn {
  background-color: #ffffff;
  color: #504e50;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.question-btn:hover {
  background-color: #68694f;
  color: #d8c7b6;
}

.question-text {
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #504e50;
}

.response-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 30%;
  margin: auto;
  align-items: center;
  border-radius: 5px;
  background-color: #ebebe0;
}

.response-text {
  font-size: 24px;
  font-weight: bold;
  color: #68694f;
}